extends layout

block header
  h1= title
  p By Curtis, Yah yeet

block panel  
  div#args
    p Background Image URL
    input#imgUrl(onKeypress="drawMeme(this)")
    br
    p Top Text
    input#topText(onKeypress="drawMeme(this)")
    br
    p Bottom Text
    input#bottomText(onKeypress="drawMeme(this)")
    br
    p Stroke Thickness
    div.sliderBox
      div
        input#thickness(type="range", min="1", max="20", onchange="drawMeme(this)")
      span#showThickness.sidelabel
    br
    div
      input#ifunny(type="checkbox", onchange="drawMeme(this)")
      span.sidelabel iFunny Watermark
    br
    p Deep Fry Effect
    div.sliderBox
      div
        input#deepfry(type="range", min="0", max="100", onchange="drawMeme(this)")
      span#showDeepfry.sidelabel

block canvas
  div#canvasDiv
    canvas#canvas

block scripts
  script(src='/js/canvasControl.js')