doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      block header
    block error
    main
      block panel
      block canvas
    block scripts
