body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #1E1E1E;
}

p,
span,
pre,
h1,
h2 {
    color: #EEE;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

#canvasDiv,
#args {
    flex: 1;
    text-align: center;
}

.sliderBox {
    display: inline-flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: inherit;
    height: inherit;
}

.sliderBox div {
    display: inline-block;
}

.sidelabel {
    margin-bottom: 20px;
}

input[type="range"] {
    width: 300px;
}

#canvas {
    width: 512px;
    height: 512px;
}

@font-face {
    font-family: 'Impact';
    src: url('/font/impact-webfont.ttf') format('truetype');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}